deploy/

# Directories #
/build/
/bin/
target/

# Gloss Vue build
webapps/gloss/src/main/webapp/resources/node_modules/
webapps/gloss/src/main/webapp/resources/dist/
 
# OS Files #
.DS_Store
 
*.class
 
# Package Files #
*.jar
*.war
*.ear
*.db
 
######################
# Windows
######################
 
# Windows image file caches
Thumbs.db 
 
# Folder config file
Desktop.ini
 
######################
# OSX
######################
 
.DS_Store
.svn
 
# Thumbnails
._*
 
# Files that might appear on external disk
.Spotlight-V100
.Trashes
 
 
######################
# Eclipse
######################
 
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
*/.settings/*
*/.classpath
*/.project
*/.gitignore
*/*/.gitignore
.loadpath
/src/main/resources/rebel.xml
# External tool builders
.externalToolBuilders/
 
# Locally stored "Eclipse launch configurations"
*.launch
 
# CDT-specific
.cproject
 
# PDT-specific
.buildpath

# Local corpus slices pulled off the archive drive for testing.
# These are scraped third-party postings containing personal data.
testdata/


######################
# Python
######################

__pycache__/
*.pyc
.venv/
.pytest_cache/
